.main-container {
  height: 100%;
}

mat-sidenav{
  margin: 1rem;
  padding: .5rem;
}

mat-sidenav-content{
  margin: 1rem;
  padding: .5rem;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
