.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login-icon {
  margin: auto .5rem;
}

.login-action {
  width: 100%;
  margin: 1.5rem 0 .5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

mat-form-field {
  width: 100%;
  margin-top: 10px;
}

form {
  margin: 1.25rem;
  padding: 0.5rem;
}
